body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

.main-content {
    background-color: #007BFF; /* Blue background color */
    color: #fff; /* White text color */
    padding: 1px;
}

.latest-news, .player-spotlight {
    background-color: #ebecf0; /* White background for articles */
    color: #333; /* Dark text color on white background */
    padding: 1em;
    border: 1px solid #ddd; /* Border around articles */
    border-radius: 5px; /* Rounded corners */
    margin-bottom: 1em;
}

/* Additional styling for Read More buttons */
.read-more-button {
    display: block;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    padding: 10px 15px;
    background-color: #FF4136; /* Red button color */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.read-more-button:hover {
    background-color: #D80000; /* Darker red on hover */
}